<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    

<% if (users.length >0 ) { %>
<ul id="route">
    <% users.forEach(user=> {
        %>  <li> <%= user.name %> - <%= user.email %> </li>
        <% }); %> 
    <ul>
        <% } else { %> 
        
        <p> No users found.</p> <%
        }%>
    </ul>
</ul>




</body>
</html>





