<!DOCTYPE html>
<html >
    <link rel="stylesheet" href="../css/styles.css">
<body>
    
<div >
    <% if (moodObjects.length >0 ) { %>
<ul >
    <div id="cart">
    <% moodObjects.forEach(id=> {
        %>  
    <div id="box"> 
            <h1>    <%= id.emoji %>    </h1>
            <h1>    <%= id.mood %>    </h2>
            <p><%= id.note %>    </p>
    </div>
       
        

        <% }); %> 
    <ul>
        <% } else { %> 
         <%
        }%>
    </ul>
</ul>
</div>
</div>

</body>
</html>