<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>user porfile</h1>
    <h3>user name : <%= user.name%></h3>
    <h5>email : <%=user.email%></h5>
</body>
</html>